# Исключение виртуального окружения
.venv/
venv/

# Исключение файлов кэша Python
__pycache__/
*.py[cod]

# Исключение логов
*.log

# Исключение файлов конфигурации среды разработки
.idea/
.vscode/

# Исключение файлов с переменными окружения
.env

# Исключение системных файлов
.DS_Store
Thumbs.db
